---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
  <!--  <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="50%">-->
  </div>
</div>
<hr>

<div class="row">
   <h3 class="fs-4">Experience</h3>
</div>
<br>
<div class = "Container-fluid">
 <div class = "row">
       <div class = "col-xl-2 col-lg-2 col-md-2">
       <img src="{{ site.github.url }}/assets/img/1657596474889.jpeg" alt="Home" class="img-fluid" width = "100" height = "100" >
       </div>
      <div class = "col-xl-10 col-lg-10 col-md-10">        
        <h3 Class = "fs-5">  Odessa Inc. - Senior Software Engineer</h3>
           <p> Designed new scenarios for regression testing of different modules, implemented new front-end product functionalities, carried out production release activities,
             and redesigned existing modules for improving performance. </p>  
        
      </div>
 </div>
</div>
<br>

<div class = "Container-fluid">
 <div class = "row">
       <div class = "col-xl-2 col-lg-2 col-md-2">
       <img src="{{ site.github.url }}/assets/img/1657596474889.jpeg" alt="Home" class="img-fluid" width = "100" height = "100">
       </div>
      <div class = "col-xl-10 col-lg-10 col-md-10">        
        <h3 Class = "fs-5"> Odessa Inc. - Software Engineer</h3>
           <p>Enhanced the Odessa Data Migration tool application with additional features like displaying data metrics during execution using multi threading.</p>
           <p>Implemented subroutines for processing data efficiently during database migration to avoid timeout issues during runtime, which led to an improvement in the processing time significantly.</p>        
      </div>
 </div>
</div>

<br>


  <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fs-4" >Projects</h3>
    
    <p class = "fs-6"><a href ="https://github.com/nithinbharathi/JMatrix" class = "style2" > JMatrix </a> 
      is a lightweight Java package that is designed for working with 2-dimensional matrices efficiently. 
      It involves parallel computations for Numerical calculations using the concept of multithreading.
      The current implementation supports operations for all the wrapper classes that extend the Number 
      class in java and uses bounded generics to enforce type check during compile time. The implementation also 
      takes into account spatial locality to avoid cache misses during operations involving matrices.
    </p>
    
   <p> <a href = "https://github.com/nithinbharathi/Scalargrad" class = "style2" > Scalargrad </a>
     is a reverse automatic differentiation system that supports arithmetic operations like addition, subtraction, 
     exponentiation, multiplication, and division on scalar values. These operations are recorded internally using a 
     directed acyclic graph and later used in computing the derivatives with respect to the weights during backpropagation.
   </p>
    
    <p> <a href = "https://github.com/nithinbharathi/Computer-vision" class = "style2" > Computer vision</a>
      contains implementations of various neural network architectures like k nearest neighbors, convnets for image 
      classification from scratch using Python. 
    </p>
    
    <p> <a href = "https://github.com/nithinbharathi/wordgen" class = "style2"> Wordgen</a> 
      is a character-level language model that predicts the next character given a sequence of characters as input 
      using a Multi-layer perceptron.
    </p>
    
    <p> <a href = "https://github.com/nithinbharathi/MarkovGenerator" class = "style2" > MarkovGenerator</a> is a 
      stochastic model based on the technique of the Markov chain that predicts new names based on the text sample 
      provided. It also has an interactive UI where the user can import the text file based on which the words have 
      to be generated.
    </p>

    <hr>
  <div class="row">
     <h3 class="fs-4">Misc Links</h3>
  </div>  
     <p> 
      Jeff Dean's talk on google's infrastructure <a href = " https://www.youtube.com/watch?v=modXC5IWTJI" class = "style2" >Technology at Google</a>
       and techniques for reducing response times in large scale distributed systems <a href = "https://www.youtube.com/watch?v=1-3Ahy7Fxsc" class = "style2" > Achieving Rapid Response Times</a>.
    </p>

    <p> 
      <a href = "https://www.youtube.com/watch?v=cQP8WApzIQQ&list=PL4YhK0pT0ZhXTRSAYHAgBcJkhlM2hlhw3" class = "style2">Distributed Systems</a>: An interesting course that covers case study's about various system architectures in use.
    </p>

    <p> 
      We all love to write fast code and this course <a href = "https://www.youtube.com/watch?v=cQP8WApzIQQ&list=PL4YhK0pT0ZhXTRSAYHAgBcJkhlM2hlhw3" class = "style2" > Performance Engineering of Software Systems </a> 
      taught me the concepts behind writing high performance software. 
    </p>

     <p> 
      <a href = "https://engineering.linkedin.com/distributed-systems/log-what-every-software-engineer-should-know-about-real-time-datas-unifying" class = "style2" > LSM </a> 
      : Everything you will need to understand about the widely used Log Structured merged Trees.
    </p>
    
    
    <p> 
      <a href = "https://karpathy.ai" class = "style2"> Andrej Karpathy's </a> wonderful
      <a href = "https://www.youtube.com/playlist?list=PLAqhIrjkxbuWI23v9cThsA9GvCAUhRvKZ" class = "style2" >
      Neural Network: Zero to Hero </a>. I would highly recommend this playlist for anyone looking to start with deep learning.
    </p>
    
  </div>
</div>
