---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fs-4">About</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
  <!--  <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">-->
  </div>
</div>
<hr>



  <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fs-4" id = "ProjectSection">Projects</h3>
    
    <p><a href ="https://github.com/nithinbharathi/JMatrix"> JMatrix</a> 
      JMatrix is a lightweight Java package that is designed for working with 2-dimensional matrices efficiently. 
      It supports parallel computations for Numerical calculations like multiplications using the concept of multithreading 
      to improve the running time. The implementation also takes into account spatial locality to avoid unnecessary cache miss.
    </p>
    
   <p> <a href = "https://github.com/nithinbharathi/Scalargrad"> Scalargrad </a>
    is a reverse automatic differentiation system that supports arithmetic operations like addition, subtraction, exponentiation, multiplication, and division on scalar values.
    These operations are recorded internally using a directed acyclic graph and later used in computing the derivatives with respect to the weights
     during backprop.</p>
    
    <p> <a href = "https://github.com/nithinbharathi/Computer-vision"> Computer vision</a>
     contains implementations of various neural network architectures like k nearest neighbors, convnets for image classification from scratch using Python. </p>
    
    <p> <a href = "https://github.com/nithinbharathi/wordgen"> Wordgen</a> 
     is a character-level language model that predicts the next character given a sequence of characters as input using a Multi-layer perceptron.</p>
    
    <p> <a href = "https://github.com/nithinbharathi/MarkovGenerator"> MarkovGenerator</a> is a stochastic model based on the technique of the 
     Markov chain that predicts new names based on the text sample provided. It also has an interactive UI where the user can import the text file
     based on which the words have to be generated.</p>

    <p> Thanks to Andrej Karpathy for his <a href = "https://www.youtube.com/playlist?list=PLAqhIrjkxbuWI23v9cThsA9GvCAUhRvKZ"> Zero to Hero playlist </a>. 
      Some of the projects were implemented after going through the video series.
      I highly recommend this playlist for anyone looking to start with deep learning.
    </p>
    
  </div>
</div>
